#---------------------------------------- general pipeline parameters
pipeline_param:
  # adjust pattern of stored files
  out_path_pattern: DE/{contrast}/{step}/out/{step}.{contrast}.{extension}
  log_path_pattern: DE/{contrast}/{step}/report/{step}.{contrast}.{extension}
  in_path_pattern: mapping/{step}/{sample}.{mate}/out/{step}.{sample}.{mate}.{extension}
  
  # base dir of report snippet library ("" for the default in git repo)
  report_snippets: ""

  # define choices for choose_input()
  input_choice:
    mapping:
      - import_gene_counts
      - import_sf
      # - import_macs2 ## for ATAC-seq

  test_config: true

#---------------------------------------- organism annotation (needs to be set)
organism_defaults: null

#---------------------------------------- information about experiment
experiment:
  covariate_file:
    salmon: covariate_file.txt
    star: covariate_file.txt
    macs2: covariate_file.txt
  design_formula: "~ group"
  #columns: null
      
#---------------------------------------- filtering of count matrices
filters:
  low_counts: 10
  experiment_blacklist: {} # {<Column>: [<Level1>,...]} for columns of covariate file
  experiment_whitelist: {}

  # these two parameters allow a more fine grained filtering:
  # setting them means that only genes will be kept which have at least
  # `min_counts` in at least `min_count_n` samples

  min_counts: 5
  min_count_n: 3

  # filtering gene lists

  gene_list:
    file: null
    type: ENSEMBL

#---------------------------------------- normalization parameters
normalization:
  DESeq2_parameters:
    min_mu: 0
  normalized_expression: vst

#---------------------------------------- description of contrasts
contrasts:
  defaults:
    max_p_adj: 0.1
    ranking_by: log2FoldChange
    ranking_order: "-abs(x)"
    results_parameters:
      lfcThreshold: 0
      altHypothesis: greaterAbs
      independentFiltering: yes
    lfcShrink_parameters:
      type: none
    ORA:
      fdr_threshold: 0.1
    cluster_profiler:
      MSigDb:
        categories: [H, C2]
        type: gsea
      GO:
        ontologies: [BP, MF]
        type: ora
        pval: 0.1
      KEGG:
        type: ora
        kegg_organism_code: hsa

  
  #contrast_list: null

#---------------------------------------- description of time series

time_series: {}

rain:
  period: 24
  peak_boarder: "c(0.3, 0.7)"
  filter:
    min_fold_change: 1.5
    frac_above_threshold:
      threshold: 5
      frac: 0.8

dodr:
  period: 24
  method: all
  comparisons: {}

#  comparisons:
#    cortex_ts_vs_scn_ts:
#      description: "cortex vs. SCN"
#      time_series1:
#        name: circ_ts
#        path: null
#      time_series2:
#        name: circ_ts
#        path: DE_scn/{contrast}/{step}/out/{step}.{contrast}.{extension}

#---------------------------------------- report parameters
report:
  #merge: null
  #
  path: null

  snippet_parameters:
    Normalisation_QC:
      n_most_varying: 500
      annotation_columns: [ "group" ]
    contrast:
      filter_results:
        qval: 0.1
      filter_goseq:
        qval: 0.1
    rain:
      filter_results:
        qval: 0.2
      plot:
        show_num: 6
    dodr:
      filter_results:
        qval: 0.2
    tmod:
      fig_qval_max: 0.01
      fig_auc_min:  0.55
      fig_n_max: 35
      fig_n_min: 10
      n_evid: 5
    tmod_contrast:
      res_auc_thr: 0.65
      res_pval_thr: 0.01
    Export_files:
      dir: "export_files"

  defaults:
    NormalisationQC:
      - PCA_plot.Rmd
      - HierarchicalClustering_plot.Rmd
      - SampleSimilarity_plot.Rmd
      - NormExprDens_plot.Rmd
      - DESeq2Norm_plot.Rmd
      - CoxOutlier_plot.Rmd
    contrast:
      - __list__: __contrasts__
    contrast_list:
      - Init_code.Rmd
      - MA_plot.Rmd
      - Result_table.Rmd
      - Goseq_GO_table.Rmd
      - tmod_contrast.Rmd
      - cluster_profiler: __defaults__
    cluster_profiler:
      - Dot_plot.Rmd
      - EnrichmentMap_plot.Rmd
      - Upset_plot.Rmd
    time_series:
      - __list__: __timeseries__
    time_series_list:
      - Rain_table.Rmd
    time_series_comparison:
      - __list__: __timeseries_comp__
    time_series_comparison_list:
      - DODR_table.Rmd

  report_snippets:
    - Covariate_table.Rmd
    - NormalisationQC: __defaults__
    - contrast: __defaults__
    #- time_series: __defaults__
    #- time_series_comparison: __defaults__
    #- Export_files.Rmd  ## export files for clients to export_files directory
#
#---------------------------------------- configuration for tmod

tmod:
  tmod_db_path: "./"
  sort_by: pval 
#,pval_n,pval_p
  databases:
    - name: tmod
      file: tmod
      title: "Co-expression gene sets (tmod)"
      description:
        Gene sets derived from clustering expression profiles from human blood
        collected for various immune conditions. These gene sets are included
        in the tmod package by default. Check tmod documentation for further 
        information.
      taxonID: 9606
      primaryID: SYMBOL
      annotationDBI: org.Hs.eg.db
    - name: msigdb_reactome
      file: msigdb
      title: "Reactome gene sets (MSigDB)"
      description:
        Reactome gene sets
        the Molecular Signatures DB 
        (https://www.gsea-msigdb.org/gsea/msigdb/).
      primaryID: ENTREZID
      subset: "Category=C2,Subcategory=CP:REACTOME"
    - name: msigdb_hallmark
      file: msigdb
      title: "Hallmark gene sets (MSigDB)"
      description:
        Hallmark gene sets
        the Molecular Signatures DB 
        (https://www.gsea-msigdb.org/gsea/msigdb/).
      primaryID: ENTREZID
      subset: "Category=H"
    - name: msigdb_kegg
      file: msigdb
      title: "KEGG pathways (MSigDB)"
      description:
        KEGG pathways from 
        the Molecular Signatures DB 
        (https://www.gsea-msigdb.org/gsea/msigdb/).
      primaryID: ENTREZID
      subset: "Category=C2,Subcategory=CP:KEGG"
    - name: msigdb_mir
      file: msigdb
      title: "MIR targets (MSigDB)"
      description:
        MIR targets from
        the Molecular Signatures DB 
        (https://www.gsea-msigdb.org/gsea/msigdb/).
      primaryID: ENTREZID
      subset: "Category=C3,Subcategory=MIR:MIRDB"
    - name: msigdb_go_bp
      file: msigdb
      title: "GO Biological Process (MSigDB)"
      description:
        GO Biological Process definitions from
        the Molecular Signatures DB 
        (https://www.gsea-msigdb.org/gsea/msigdb/).
      primaryID: ENTREZID
      subset: "Category=C5,Subcategory=BP"
       

#---------------------------------------- configuration for export
export:
  blueprint:
    file: SODAR_export_DE_blueprint.txt
    command: |
      imkdir -p $(dirname {dest} )
      irsync -a -K {src} i:{dest}
  path_pattern:
    - __SODAR__/{contrast}/{GENOME}/%Y_%m_%d/{files:differential_expression}/out/{step}.{contrast}.{extension}
    - __SODAR__/{contrast}/{GENOME}/%Y_%m_%d/{files:functional_analysis:rds}/{step}/out/{step}.{contrast}.{extension}
    - __SODAR__/{contrast}/{GENOME}/%Y_%m_%d/{files:functional_analysis:csv}/{step}/out/{step}.{contrast}.zip
  differential_expression:
    - files: {step: contrast, extension: rds}
  functional_analysis_rds:
    - files: {step: goseq, extension: go.rds}
    - files: {step: goseq, extension: kegg.rds}
    - files: {step: cluster_profiler, extension: rds}
  functional_analysis_csv:
    - files: {step: cluster_profiler, extension: csv}
      compress: zip


